.skills{
    display: flex;
}
.skills img {
    width: 80px; /* Definindo a largura das imagens */
    height: 80px; /* Definindo a altura das imagens para ser ajustada automaticamente */
  }


.html,.css,.js,.react,.python,.mongodb,.java{
    display: flex;
    align-items: center;
}
.front,.back{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.content{
    margin-top: 20px;
    margin-left: 20px;
}
.Container{
    margin: 20px
}
